# Dependencies
node_modules/

# Python
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
staticfiles/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Playwright MCP logs
.playwright-mcp/

# Environment
.env
.env.local

# Database folder
Database/

# CSV exports
*.csv


# Flutter SDK
flutter-master/

# PyInstaller
*.spec

# Executables
*.exe

# Misc
*.bak
*.tmp
